In [22]:
import matplotlib.pyplot as plt 
import pandas as pd 
import numpy as np

df = pd.read_csv("gapminder.csv", usecols=[1, 2, 3, 4, 5, 6])
df.index = np.array(list(df.index)) + 1
df.head()

       country  year  population      cont  life_exp       gdp_cap
1  Afghanistan  2007  31889923.0      Asia    43.828    974.580338
2      Albania  2007   3600523.0    Europe    76.423   5937.029526
3      Algeria  2007  33333216.0    Africa    72.301   6223.367465
4       Angola  2007  12420476.0    Africa    42.731   4797.231267
5    Argentina  2007  40301927.0  Americas    75.320  12779.379640